.App {
  display: flex;
}

.App-leftBar {
  margin: 5px;
  width: 40%;  
  position: fixed;
  top: 80px;
  overflow-y: auto;
  bottom: 0;
}

.App-rightBar {
  position: fixed;
  top: 80px;
  flex-grow: 1;
  left: 40%;
  margin: 5px 5px 5px 20px;
  width: 58%;
  overflow-y: auto;
  bottom: 0;
}

.Feature {
  margin-right: 20px
}