.App {
  display: flex;
}

.App-leftBar {  
  margin-right: 20px;
  min-width: 500px;
  position: relative;
  margin-top: 10px;
}

.App-rightBar {
  flex-grow: 1;
  margin-top: 10px; 
}

.Feature {
  margin-right: 20px
}